<!DOCTYPE html>
<html>
<head>
  <title>TwoJsExercise</title>
  <script type="text/javascript" src="underscore-min.js"></script>
  <script type="text/javascript" src="backbone-min.js"></script>
  <script src="./path-to-two/two.js"></script>
</head>
<body>
  <div id="drawingarea"></div>
  <script type="text/javascript">
    var object = document.getElementById('drawingarea');
    var params = { width: 600, height: 400 };
    var two = new Two(params);
    two.appendTo(object);
    var circle = two.makeCircle(200, 100, 80);
    circle.fill = '#fefe'
    circle.stroke = 'blue';
    circle.linewidth = 5;
    two.update();
  </script>
</body>
</html>

